


.button {
    font-size: var(--font-size, 24px);
    display: flex;
    width: var(--button-width, 400px);
    height: var(--button-height, 50px);
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: var(--top-left-radius, 15px) var(--top-right-radius, 15px) var(--bottom-right-radius, 15px) var(--bottom-left-radius, 15px);
    background: rgba(217, 217, 217, 0.87);
    margin: 0;
}